#page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "plan_trip trip_details_section";
    width: 100%;
    font-family: Comfortaa, cursive;
    color: black;
}

#plan_trip, #trip_details_section {
    padding: 5vh 0;
    height: 100vh;
}

#plan_trip {
    
    grid-area: plan_trip;
    display: flex; /* Added to ensure flex properties work */
    // justify-content: left; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
}

#plan_your_trip {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#plan_your_trip h1 {
    font-size: 4vh;
    margin-bottom: 15px;
}

#trip_details_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#trip_details_form input {
    font-size: 3vh;
    padding: 5px;
    border: none;
    font-family: Comfortaa, cursive;
    border-radius: 10px;
    box-shadow: 0 1px 10px #000;
    margin-bottom: 15px;
    width: 80%;
}

#trip_details_form input[type=submit] {
    padding: 0.5vw 1vw;
    width: 33%;
}

#trip_details_form input[type=submit]:hover {
    box-shadow: none;
    cursor: pointer;
}

#trip_details_form label {
    font-size: 3vh;
    padding: 2px;
}

#trip_details_section {
    grid-area: trip_details_section;
    display: flex; 
    align-items: center; /* Centers children vertically */
    
}

#trip_details {
    display: flex;
    flex-direction: row; /* Aligns children horizontally */
    align-items: center;
    width: 80%; /* Adjust width */
    border-radius: 20px;
    max-width: 1000px; /* Set a maximum width */
    box-shadow: 12px 16px 55px black;
    padding: 20px 0;
}

#dest_photo img {
    width: 15vw;
    height: 15vw;
}

#dest_photo {
    padding: 25px;
    margin-left:5px;
}

#main_details {
    display: grid;
    width: 60vw;
    height: auto;
    font-size: 1.75vw;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2px;
    padding-left: 15px;
}

.dynamic_content {
}

#remove_trip {
    font-size: 1vw;
    padding: 1vw 1vw;
    background-color: rgb(197, 72, 72);
    border: none;
    border-radius: 50px;
    box-shadow: 1px 6px 10px black;
    cursor: pointer;
}

#remove_trip:hover {
    box-shadow: none;
}

.invisible {
    display: none !important;
}


@media only screen and (max-width: 1150px) {
    #page {
        grid-template-columns: 1fr; /* Stack sections vertically on smaller screens */
        grid-template-areas: "plan_trip" "trip_details_section";
    }

    #plan_trip, #trip_details_section {
        width: 100%; /* Ensure sections take up the full width */
        height: auto; /* Allow height to adjust automatically */
    }
    #trip_details_form input {
        width: 100%;
        margin: 10px 0;
    }

    #plan_your_trip {
        width: 90%;
    }

    
    #dest_photo {
        padding: 10px;
    }
     
}
@media only screen and (max-width: 768px) {
    #dest_photo {
        padding: 15x;
    }
    #trip_details {
        padding: 10px 0;
    }
}

@media only screen and (max-width: 480px) {
    #trip_details {
        padding: 0;
    }
    #main_details {
        padding-left: 0;
    }
    #plan_your_trip h1 {
        font-size: 3vh;
    }
    #trip_details_form input {
        font-size: 2vh;
    }
    
}